{% extends 'teacher/message.html' %}
{% load staticfiles %}

{% block title %}发消息{% endblock %}

{% block content_header %}发送消息{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary direct-chat direct-chat-primary" >
                <div class="box-header with-border pull-center">   
                  <!-- box-header -->
                  <h3 class="box-title">与{{ student.name }}的对话</h3>  <!--人名 -->
                </div>   <!-- /.box-header -->
          
            <div class="box-body">    <!-- 这里显示消息内容 开始 -->
              <div class="direct-chat-messages" id='message_box'>
                <!-- 对方发送的消息 -->
                {% for message in both_messages %}
                  {% if message.sender.person == 'student' %}    <!-- 判断消息的发送者是否为学生 -->
                      <div class="direct-chat-msg">    <!-- 显示消息的信息：发送者，时间,开始 -->
                          <div class="direct-chat-info clearfix">
                              <span class="direct-chat-name pull-left">{{ student.name }}</span>
                              <span class="direct-chat-timestamp pull-right">
                                {{ message.send_time|date:'m-d H:i' }}
                              </span>
                          </div>

                          <!-- class为自定义，显示消息内容 -->
                          <div class="chat-text">{{ message.content }}</div>  
                      </div>   <!-- 显示消息的信息：发送者，时间 结束 -->

                  {% else %}   <!-- 如果消息的发送者为老师，则在右边 -->
                      <div class="direct-chat-msg right">
                          <div class="direct-chat-info clearfix">
                              <span class="direct-chat-name pull-right">我</span>
                              <span class="direct-chat-timestamp pull-left">
                                {{ message.send_time|date:'m-d H:i' }}
                              </span>
                          </div>
                        <div class="chat-text-right">
                          {{ message.content }}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                  </div>
              </div>  <!-- 消息的内容 结束 -->

              <div class="box-footer">
                  <form action="{% url 'send_message' %}" method="post" id='send_message_form'>
                      {% csrf_token %}
                      <input type="hidden" name='receiver_pk' value='{{ student.user.pk }}'>
                      <div class="input-group">
                          <input type="text" name="message" id='message_input' class="form-control">
                          <span class="input-group-btn">
                              <button type="submit" class="btn btn-primary btn-flat">发送</button>
                          </span>
                      </div>
                      <p class="text-danger" id='message_error'></p>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <script>
    function ScrollToBottom(){
      var showTxt = document.getElementById("message_box");
      showTxt.scrollTop = showTxt.scrollHeight;
    }
    ScrollToBottom()
  </script>

{% endblock %}

{% block script_extends %}
  <script>
    $('#send_message_form').submit(function(){
    $.ajax({
        url:"{% url 'send_message' %}",
        type: 'POST',
        data: $(this).serialize(),
        cache: false,
        success: function(data){
          var showTxt = document.getElementById("message_box");
          $('#message_error').text('');
          console.log(data);
          if (data['status'] == 'SUCCESS'){
            //插入数据
            var message_html = '<div class="direct-chat-msg right">' +
                          '<div class="direct-chat-info clearfix">' +
                          '<span class="direct-chat-name pull-right">我</span>' +
                          '<span class="direct-chat-timestamp pull-left">' +
                          data['send_time'] + '</span></div>' +
                    '<div class="chat-text-right">'+ data['message'] +'</div></div>';

            $('#message_box').append(message_html)
            $('#message_input').val('');
            showTxt.scrollTop = showTxt.scrollHeight;
          }
          else{
          //显示错误信息
            $('#message_error').text(data['message_error']);
          }
        },
        error: function(xhr){
          console.log(xhr);
        },
        });
        return false;
    })
  </script>
{% endblock %}
