{% extends 'newBase.html' %}
{% load staticfiles %}

{% block title %}{% endblock %}
{% block header_extends %}
    <script src="{% static 'extends_js.js' %}"></script>
{% endblock %}

<!-- 教师页面左边导航栏 -->
{% block left_navbar %}
    <!-- 左边导航栏 Menu -->
        <!-- Optionally, you can add icons to the links -->
    <li class="{% block info_active %}{% endblock %}">
        <a href="{% url 'teacher_home' %}">
            <i class="fa fa-home"></i><span>个人信息</span>
        </a>
    </li>
    <li class='{% block my_thesis_active %}{% endblock %}'>
       <a href="{% url 'teacher_thesis' %}">
            <i class="fa fa-book"></i><span>我发布的论文题目</span>
        </a>
    </li>
    
    <li class="treeview {% block group_active %}{% endblock %}">
        <a href="#">
            <i class="fa fa-group"></i><span>我的小组</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="{% block member_active %}{% endblock %}">
              <a href="{% url 'group' %}">小组成员</a>
            </li>
            <li class="{% block files_active %}{% endblock %}">
                <a href="{% url 'group_files' %}">小组文件</a>
            </li>
        </ul>
    </li>

    <li class='treeview {% block message_active %}{% endblock %}'>
        <a href=''>
            {% if request.user.no_r_message_count or request.user.no_r_ann_count %}
                {% if request.user.no_r_message_count %}
                <span class="pull-right-container">
                    <small class="label pull-right bg-blue" title='未读信息'>
                      {{ request.user.no_r_message_count }}
                    </small>
                {% endif %}
                {% if request.user.no_r_ann_count %}
                    <small class="label pull-right bg-red" title='系统公告'>
                        {{ request.user.no_r_ann_count }}
                    </small>
                {% endif %}
                </span>
            {% else %}
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            {% endif %}
            <i class="fa fa fa-envelope"></i><span>我的消息</span>
        </a>
        <ul class="treeview-menu">
            <li class='{% block all_ann_active %}{% endblock %}'>
                <a href="{% url 'teacher_announcement' %}">
                    <i class="fa fa-bell"></i>所有公告
                    {% if  request.user.no_r_ann_count %}
                        <small class="label pull-right bg-red" title='新公告'>
                            {{ request.user.no_r_ann_count }}
                        </small>
                    {% endif %}
                </a>
            </li>
            <li class='{% block no_r_message_active %}{% endblock %}'>
                <a href="{% url 'teacher_message' %}">
                    <i class="fa fa-commenting-o"></i>
                        所有未读信息
                    {% if request.user.no_r_message_count %}
                        <small class="label pull-right bg-blue" title='未读信息'>
                            {{ request.user.no_r_message_count }}
                        </small>
                    {% endif %}
                </a>
            </li>
        </ul>
    </li>
{% endblock %}

<!-- 教师页面主体内容头部显示信息 -->
{% block content_header %}{% endblock %}

<!-- 教师页面主体内容 -->
{% block content %}{% endblock %}
