{% extends 'student/student_home.html' %}
{% load staticfiles %}

{% block title %}学生|我的选题{% endblock %}

{% block info_active %}{% endblock %}
{% block thesis_active %}active{% endblock %}
{% block my_thesis_active %}active{% endblock %}

{% block content_header %}我的选题{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% if thesis %}
            {% if thesis.publisher != request.user %}
            <h1>{{ thesis.title }}</h1>
            <p>
                <span class='glyphicon glyphicon-time'>时间：{{ thesis.pub_date }}</span>
                <span class=''>类型：
                {% for tag in thesis.tags.all %}
                    {{ tag.name }}
                {% endfor %}
                </span> 
                <span>发布者：
                    <a href="{% url 'teacher_info' %}?teacher_name={{ student.teacher.name }}">
                        {{ student.teacher.name }}
                    </a>
                </span>
            </p>
            <p>{{ thesis.content|safe }}</p>
            <a href="{% url 'cancel_thesis' thesis.pk %}" 
                class="btn btn-danger pull-right">
                取消选题
            </a>
            {% else %}
            <h1>我提交的选题：{{ thesis.title }}</h1>
            <p>
                <span class='glyphicon glyphicon-time'>时间：{{ thesis.pub_date }}
                </span>
                <span>状态：审核已通过</span>
            </p>
            <p>{{ thesis.content|safe }}</p>
                <button onclick='delete_thesis("{% url 'student_delete_thesis' thesis.pk %}")' class="btn btn-danger pull-right">
                    删除选题
                </button>
            {% endif %}
        {% elif student.teacher %}
            {% if student_pub_thesis %}
                <h1>我发布的论文题目</h1>
                <h3>{{ student_pub_thesis.title }}</h3>
                <p>
                    <span>时间：{{ student_pub_thesis.pub_date|date:'m月d日' }}</span>
                    {% if student_pub_thesis.need_verify %}
                        状态：<span class="text-danger">待审核</span>
                    {% else %}
                        状态：<span class="text-danger">审核未通过</span>
                        未通过理由：
                        <span class='text-danger'>
                            {{ student_pub_thesis.disagreethesisreson.text }}
                        </span>
                    {% endif %}
                </p>
                <p>
                    {% autoescape off %} <!-- 将自动转义关闭， 页面显示html样式文字 -->
                        {{ student_pub_thesis.content }}
                    {% endautoescape %}
                </p>
                <button class="btn btn-danger pull-right" onclick="delete_thesis('{% url "student_delete_thesis" student_pub_thesis.pk %}')">
                    删除选题
                </button>
            {% else %}
                <p>
                    已选教师，暂未选题，
                    <a href="{% url 'teacher_info' %}?teacher_name={{ student.teacher.name }}" 
                        class="btn btn-primary">
                        查看导师选题
                    </a>或
                    <a href="{% url 'add_thesis' %}" class="btn btn-success">添加自己的选题</a>
                </p>
            {% endif %}
        {% else %}
            <p>
                暂未选题和选择导师，
                <a href="{% url 'thesis_list' %}" class='btn btn-primary'>马上选题</a>或
                <a href="{% url 'teacher_list' %}" class="btn btn-success">马上选择教师</a>
            </p>
        {% endif %}
    </div>
</div>
    <!-- <p>{{ messages.tag }}</p> -->
{% endblock %}

