body{
    font-size: 16px!important;
}

/* 设置短的输入框 */
.input-field{
    width: 40%;
    font-size: 14px;
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-logo-size{
    font-size: 30px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin:　0;
}

/* teacher_send_message */
a.back-btn{
    color: black;
}

.form-control{
    margin-bottom: 10px;
}

/* thesis_no_choiced.html  修改选题<a class='mar-right'> */
.mar-right{
    margin-right: 20px;
    float: right;
}

/*  设置messages.error的信息样式 */
.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.chat-text{
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0;
    color: #444;
}

.chat-text-right{
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #3c8dbc;
    border-color: #3c8dbc;
    border: 1px solid #d2d6de;
    margin: 5px 0;
    color: #fff;
}

div.django-ckeditor-widget{
    width: 100%;
}


.my-panel .panel-primary .panel-height{
    height: 600px;
}

/* student/thesis_list.html 标签 */
.tag-li{
    font-size: 14px;
}

/* teacher/message.html 消息列表div */
.student-message{
    margin-bottom: 20px;
    border: solid 1px #d2d6de;
}

.student-message a{
    color: #333;
    line-height: 30px;
}

.message-header{
    background-color: #d2d6de;
}

/* 将聊天信息框的header文本设置居中 */
.pull-center{
    text-align: center;
}

/*send_message.html student */

/* student的paginator */
div.student-paginator{
    display: inline-block;
    padding-left: 40%;
    margin: 20px 0;
    border-radius: 4px;
}

a.publish-thesis-btn{
    margin-top: 10px;
}

div.center{
    text-align: center;
    margin-top: 10%;
}

div.verify-btn-div{
    height: 50px;
    overflow: hidden;
}

div.hid{
    display: none;
    clear: both;
    overflow: hidden;
}

div.thesis-info{
    min-height: 150px;
}

/*  验证码输入框 */
#id_captcha_1{
    width: 100px;
}

/* teacher/group_member.html */
div.teacher-pub-ann{
    width: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
}

div.teacher-pub-form{
    height: 210px;
    width: 500px;
    padding: 20px 10px;
    border: 1px solid #ccc;
    display: none;
}

textarea.teacher-pub-text{
    height: 100px;
    width: 100%;
    font-size: 16px;
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #000033;
    border-radius: 4px;
    margin-bottom: 10px;
}


/* 上传文件时弹出的背景框 */
#hidebg{
    background-color:#000;
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    display: none; /* //www.jb51.net */
    z-index:2;
}

#show-upload-info{
    position: absolute;
    width: 30%;
    height: 40%;
    top: 30%;
    left: 45%;
    filter: alpha(opacity=60);  /*设置透明度为60%*/
    opacity: 0.8;  /*非IE浏览器下设置透明度为60%*/
    background-color: #3c8dbc;
    display: none;
    z-index: 3;
    text-align: center;
}

div.show-info{
    position: absolute;
    left: 40%;
    top: 30%;
}
